<title>My application deployed automatically</title>
<h1>Password Generator</h1>
Your password is {{result}}

<form action="compute" method="post">
    <label for="list">List:</label>
    <textarea id="list" name="list" rows="10" cols="30"></textarea>

    <label for="str1">String 1:</label>
    <textarea id="str1" name="str1" rows="10" cols="30"></textarea>

    <label for="str2">String 2:</label>
    <textarea id="str2" name="str2" rows="10" cols="30"></textarea>

    <label for="pw_len">Password Length:</label>
    <textarea id="pw_len" name="pw_len" rows="10" cols="30"></textarea>

    <br>
    <input type="submit">
</form>
